<html lang="es">

<head>
  <link rel="stylesheet" media="all" href="style.css">
</head>

<body>
  <div class="login-page">
    <div class="form">
      <img id='logo' src='logo.png' />
      <form class="login-form" method="POST" action="/">
        <input name="user" type="text" placeholder="Usuario del dominio"/>
        <input name="old_pass" type="password" placeholder="Contrase&ntilde;a vieja"/>
        <input name="new_pass" type="password" placeholder="Contrase&ntilde;a nueva"/>
        <input name="retype_pass" type="password" placeholder="Repetir Contrase&ntilde;a nueva"/>
        <button>Cambiar Contrase&ntilde;a</button>
      </form>
    </div>
  </div> 
</body>
</html>
